<% include partials/header %>
<header class="jumbotron"><h3>Monster Hunter World</h3> <h1>The Fun with Vaal Hazak</h1></header>

<ul>
    <li><a href="./vaal_hazak_armor"><input type="button" value="Vaal Hazak"/></a></li>
</ul>
<% include partials/footer %>