<% include partials/header %>

<h2 style="text-align: center; margin: 30px auto;">Add Another Fun Vaal Hazak</h2>
<div class="container">
    <form action="/vaal_hazak_armor" method="POST">
        <input class="form-control" type="text" name="img" placeholder="New Funny Picture">
        <br>
        <button class="form-control btn-primary" >Submit</button>
    </form>
<a href="/vaal_hazak_armor">Back to Vaal Hazak Page.</a>
</div>

<% include partials/footer %>
